*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store

*.jpg
*.csv
**/__pycache__/
.env
*.pkl
*.pickle
!api/breed_list.pickle
~$*.docx
# May need to switch on the pickle files in the future
!breed_list.pickle

#Need to allow .json if looking to rebuild and redeploy
*.json
